<style>
/* Header styles */


header{
	text-align:center;
	padding: 0px;
	margin: 0px;
	border: 0px;
	width:100%;
	overflow-y: hidden;
	top: 10px;
	height:160 px;
	z-index:2;
	background-color: Dodger Blue;
	color:#FFFFFF;
}

h1 {
  color: hsl(0, 1%, 100%); 
  margin-top:0;
  margin-bottom:0;/* a scarlet color */
  
}
h2{
  color: #B90000; /* a duller scarlet color */
font-size: 24px;
font-family: Arial;
}
h3{
  color: #0000FF; /* a duller scarlet color */
	font-size: 18px;
	font-family: Arial;
}

h4{
  color: #000000; /* a duller scarlet color */
font-size: 15px;
	font-family: Arial;
}

/* CSS to center text and images */
.center {
  text-align: center;
}

img.center, figure.center  {
  display: block;
  margin: auto;
  text-align: left;
}

/* Navigation bar style */


nav {
  background-color: #4682B4; 
  width: 100%;
}

nav ul {
  padding: 0px ;
  list-style-type: none;
  overflow: hidden;
  margin: auto;
}

nav ul li {
  float: left;
  margin: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
 font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  color: white;
  font-family: Arial;
}
}

nav ul  li a:hover {
  background-color: hsl(240, 100%, 90%); /* a light blue color */
  color: black
}

nav ul li a.current {
  background-color: #6495ED;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:active{
  background-color: Blue; 
  color: white;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: hsl(240, 100%, 90%);
 color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: hsl(240, 100%, 90%);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Image styles */
img {
  width: 100%;
  height: auto;
}

@media (min-width: 301px) {
  #MyPicture20180416 {
    width: 300px;
    height: auto;
  }
}

@media (min-width: 401px) {
  #Teaching20171217 {
    width: 400px;
    height: auto;
  }
}

@media (min-width: 601px) {
  #LocallyVsGloballyRepDiagramFigure {
    width: 600px;
    height: auto;
  }
}

/* figure styles */
#LocallyVsGloballyRepDiagramFigure {
  margin-bottom: 2.5em;
}

figcaption {
  margin: 0.5em 0.5em;
}

/* Body and section styles */
body {
  margin: 0;
}

section {
  margin: 0 1em;
}

/* List item styles in section */
section li {
  margin: 0.8em 0;
}

/* Additional resizing styles */
@media (min-width: 851px) {
  nav ul {
    width: 850px;
  }
  
  section {
    width: 850px;
    margin: auto;
  }
}